@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.App {
  display: flex;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  font-family: 'Francois One', sans-serif;
  font-size: large;
}

.App-header {
  text-align: center;
  margin-top: 20px;
  padding-bottom: auto;
}

.App-header h1 {
  font-size: 2em;
}

.App-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}